
*{
  padding: 0;
  margin: 0;
}

.mainContainer{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: row;
}

.heading{
  font-size: 2rem;
  margin-top: 5vh;
  text-decoration: underline;
}

.warningWrapper{
  font-size: 5rem;
  /* margin-top: 10vh; */
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}